GITLAB_VERSION=gitlab/gitlab-ee:13.12.3-ee.0
POSTGRES_DB_NAME=gitlabhq_production
POSTGRES_DB_USERNAME=gitlab
POSTGRES_DB_PASSWORD=postgres-strong-password
# generated with gitlab-ctl pg-password-md5 gitlab ${POSTGRES_DB_PASSWORD}
POSTGRES_DB_PASSWORD_MD5=4addbf1269081f56f0a15cfe138ca9d2
REDIS_PASSWORD=redis-super-secret-password
GITLAB_URL=http://gitlab
GITALY_AUTH_TOKEN=gitalyauth
GITALY_SECRET_TOKEN=gitalysecret
